$factor: 0.6;
$width: 80em * $factor;
$height: 9.2em * $factor;

:host{
    font-size:10px;

    display: flex;
    align-items: flex-end;
    justify-content: center;
   

    .center{
        .bottom{
            width:$width;
            height: $height;
            background-image: url(~/assets/ui/borders/hud_bg_artbarmiddlefill_glass.png);
            background-size: $width $height;
        }
    }
    
    .main-abilities{
        display: flex;
        justify-content: center;
       // background-color: green;
        bottom: 3em;
        >*{
            margin: 0em 0.32em;
            font-size: 1.15em;
        }
    }
}