$size: 7.2em;
// base layout
:host {
  font-size: var(--base-size);
  position: relative;
  display: inline-block;
  width: $size;
  height: $size;

  [content] {
    position: relative;
  }
  [border] {
    position: absolute;
  }

  &[interactive],
  &:host-context([interactive]) {
    cursor: pointer;
  }

  &[disabled],
  &.disabled,
  &:disabled {
    cursor: default;
  }
}
$color: rgba(58, 45, 115, 0.9);
$lightColor: rgba(156, 142, 255, 1);
$darkColor: rgba(123, 105, 247, 1);
// border 
:host {
  [border] {
    border: 0.4em solid $color;
    box-shadow: inset 0px 0px 1.6em 0.3em rgba(0,0,0, 0.8), inset 0px 0px 1.6em 0.3em rgba(0,0,0, 0.8);
  }
}

// positioning
:host {
  [content] {
    top: 0.4em;
    left: 0.4em;
    ::ng-deep {
      > * {
        font-size: 0.9em;
      }
    }
  }
  [border] {
    width: $size;
    height: $size;
    top: 0em;
    left: 0em;
  }
}

// non interacive state
:host {
  [content] {
  }
  [border] {
    border-color: $darkColor;
  }
}

// interacive state
:host {
  &:host-context([interactive]),
  &[interactive] {
    [content] {
      filter: grayscale(0.85);
    }
    [border] {
        border-color: $color;
    }
  }
}

// over state
:host {
  :host-context([interactive]:hover),
  :host-context([interactive][hover]),
  :host-context([interactive].hover),
  &[hover],
  &.hover,
  &[interactive]:hover {
    [content] {
      filter: grayscale(0);
    }
    [border] {
        border-image: linear-gradient(to bottom, $lightColor, $color) 1;
    }
  }
}

// selected state
:host {
  :host-context([selected]),
  :host-context(.selected),
  &[selected],
  &.selected {
    [content] {
      filter: grayscale(0);
    }
    [border] {
        border-color: $lightColor;
        box-shadow: 0px 0px 1.6em 0.3em transparentize($lightColor, 0.7);
    }
  }
}

// disabled state
:host {
  :host-context([disabled]),
  :host-context(.disabled),
  :host-context(:disabled),
  &[disabled],
  &.disabled,
  &:disabled {
    [content] {
      filter: grayscale(0.9);
    }
    [border] {
        filter: grayscale(1);
        border-color: $color;
    }
  }
}
