@import "~@angular/material/theming";
@import "../../../../../../theme";

$background: map-get($theme, background);
$foreground: map-get($theme, foreground);
$background-color: mat-color($background, card);
//$border-color: mat-color($background, status-bar);
$border-color: mat-color($foreground, divider);

$height: 5.4em;
:host {
    display: block;
    font-size: var(--base-size);
    height: $height;
    background-color: $background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    .cell {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100%;
        min-height: 100%;
        max-height: $height;

        .content {
            min-width: 100%;
            font-size: 1.5em;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        &::before {
            content: " ";
            position: absolute;
            top: 0em;
            left: -0.1em;
            width: 100%;
            height: 5.2em;
            z-index: 4;
            pointer-events: none;
        }
    }
    // border-right: 0.1em solid $border-color;
    border-bottom: 0.1em solid $border-color;
    $alpha: 0.08;

    &:host-context(.team1) {
        .cell {
            $color: blue;
            color: lighten($color, 30);
            $dark: darken($color, 50);
            background: linear-gradient(
                180deg,
                rgba(0, 0, 0, $alpha) 0%,
                rgba($color, $alpha) 20%,
                rgba($color, $alpha) 50%,
                rgba($color, $alpha) 90%,
                rgba(0, 0, 0, $alpha) 100%
            );
            &::before {
                border-top: 0.1em solid rgba($color, 0.15);
                border-bottom: 0.1em solid rgba($color, 0.15);
            }
            .content {
                text-shadow: 0.1em 0.1em 0.2em $dark, 0.1em 0.1em 0.1em $dark, 0.1em 0.1em 0.1em $dark;
            }
        }
    }
    &:host-context(.team2) {
        .cell {
            $color: red;
            color: lighten($color, 32);
            $dark: darken($color, 30);

            background: linear-gradient(
                180deg,
                rgba(0, 0, 0, $alpha) 0%,
                rgba($color, $alpha) 20%,
                rgba($color, $alpha) 50%,
                rgba($color, $alpha) 90%,
                rgba(0, 0, 0, $alpha) 100%
            );
            // border-bottom: 1px solid $color;
            &::before {
                border-top: 0.1em solid rgba($color, 0.15);
                border-bottom: 0.1em solid rgba($color, 0.15);
            }
            .content {
                text-shadow: 0.1em 0.1em 0.2em $dark, 0.1em 0.1em 0.1em $dark, 0.1em 0.1em 0.1em $dark;
            }
        }
    }

    &:host-context(tr:first-of-type) {
        border-top: 0.1em solid $border-color;
    }
    &:host-context(td:last-of-type) {
        border-right: 0.1em solid $border-color;
    }
    &:host-context(.team1 td:last-of-type) {
        .cell {
            $color: blue;
            &::before {
                border-right: 0.1em solid rgba($color, 0.15);
            }
        }
    }
    &:host-context(.team2 td:last-of-type) {
        .cell {
            $color: red;
            &::before {
                border-right: 0.1em solid rgba($color, 0.15);
            }
        }
    }

    &:host-context([align="start"]) {
        &,
        .cell {
            justify-content: flex-start;
            .content {
                justify-content: flex-start;
            }
        }
    }
    &:host-context([align="end"]) {
        &,
        .cell {
            justify-content: flex-end;
            .content {
                justify-content: flex-end;
            }
        }
    }
    &:host-context([align="center"]) {
        &,
        .cell {
            justify-content: center;
            .content {
                justify-content: center;
            }
        }
    }

    &:host-context(.best),
    &:host-context(.team-best) {
        .cell {
            .content {
                font-weight: bold;
            }
        }
    }

    &:host-context(.team1 .team-best) {
        $color: blue;
        .cell {
            .content {
                color: lighten($color, 40);
            }
        }
    }
    &:host-context(.team2 .team-best) {
        $color: red;
        .cell {
            .content {
                color: lighten($color, 40);
            }
        }
    }

    &:host-context(.best) {
        .cell {
            .content {
                color: white !important;
            }
        }
    }

    &:host-context(.team1 .best) {
        $color: blue;
        .cell {
            .content {
                text-shadow: 0em 0em 0.2em darken($color, 0), 0em 0em 0.2em darken($color, 10),
                    0em 0em 0.3em darken($color, 20), 0em 0em 1em lighten($color, 20), 0em 0em 1.2em lighten($color, 20);
            }
        }
    }
    &:host-context(.team2 .best) {
        $color: red;
        .cell {
            .content {
                text-shadow: 0em 0em 0.2em darken($color, 0), 0em 0em 0.2em darken($color, 10),
                    0em 0em 0.3em darken($color, 20), 0em 0em 1em lighten($color, 20), 0em 0em 1.2em lighten($color, 20);
            }
        }
    }

    &:host-context(.sorted) {
        .cell {
            &::after{
                content: ' ';
                position: absolute;
                width:100%;
                height:100%;
                left:0px;
                top: 0px;
                background-color: rgba(white, 0.025);
            }
        }
    }
}
