:host{
    display: inline-flex;
    font-size: var(--base-size);
    font-weight: bold;
    position: relative;

    --text-color-light: #e6e6ff;
    --text-color: #33f;
    --text-color-dark: #00f;

    >div{
        position: relative;
        color: transparent;
        font-size: 1.8em;
        line-height: 1.1em;
        &.num{
          
            position: absolute;
            left:0px;
            top:0px;
            background-image: linear-gradient(to bottom,var(--text-color-light) 50%, var(--text-color) 130%);
            background-clip: text;
            z-index: 3
        }
        &.glow{
            text-shadow: 0 0 0.1em var(--text-color), 0 0 0.1em var(--text-color), 0 0 0.1em var(--text-color-dark), 0 0 0.1em var(--text-color-dark), 0 0 0.4em var(--text-color-light);
            opacity: .4;
        }
    }

}