:host{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    >div{
        color: transparent;
        &.num{
            position: absolute;
            background-image: linear-gradient(to bottom,#e6e6ff 50%,#33f 130%);
            background-clip: text;
            z-index: 3
        }
        &.glow{
            text-shadow: 0 0 2px #33f, 0 0 2px #33f, 0 0 2px #00f, 0 0 2px #00f, 0 0 8px #e6e6ff;
            opacity: .6;
        }
    }

}