<section class="header">
    <hra-glowing-text>{{ability.name}}</hra-glowing-text>
    <hra-ability-type-icon [ability]="ability"></hra-ability-type-icon>
</section>
<section *ngIf="ability.energyCostDescription">
    <div [hraTooltipText]="ability.energyCostDescription" [level]="hero?.level"></div>
</section>
<section *ngIf="ability.cooldownDescription">
    <div [hraTooltipText]="ability.cooldownDescription" [level]="hero?.level"></div>
</section>
<section>
    <div [hraTooltipText]="ability.description" [level]="hero?.level"></div>
</section>
<section>
    <div>
        <ng-container *ngFor="let talent of talents">
            <div *ngIf="talent.button !== 'Heroic' || !talent.isActive" class="talent">
                <div style="color:rgb(228, 184, 0)">[{{talent.name}}] </div>
                <div [hraTooltipText]="talent.shortDescription"></div>
                <!-- 
                    <div [hraTooltipText]="talent.description"></div>
                -->
            </div>
        </ng-container>
    </div>
</section>