<ng-template nguiAttachment="app.header.main.right">
  <div class="mode-buttons tool" *ngIf="!forceIconMode && displayMode">
    <button mat-icon-button [color]="mode === 'tile'? 'accent' : 'primary'" (click)="mode = 'tile'">
      <mat-icon>view_list</mat-icon>
    </button>
    <button mat-icon-button [color]="mode === 'icon'? 'accent' : 'primary'" (click)="mode = 'icon'">
      <mat-icon>apps</mat-icon>
    </button>
  </div>
  <hra-talent-build-link-copy-button class="tool" [hero]="hero" label="Copy"></hra-talent-build-link-copy-button>
</ng-template>

<section talents>
  <img class="bg" [src]="bgUrl" />
  <div class="talent-container">
    <div class="left">
      <table cellpadding="0" cellspacing="0" *ngIf="hero && displayMode">
        <tr class="talent-tier" *ngFor="let tier of [1,4,7,10,13,16,20]" [ngClass]="['tier-' + tier]">
          <td class="tier-header">{{tier}}</td>
          <td class="talent-cell" *ngFor="let talent of hero?.getTalents(tier); let i = index"
            (click)="selectTalent(tier, i)">
            <hra-talent-square-button *ngIf="displayMode === 'icon'" [model]="talent" [hero]="hero" interactive tooltip="true"
              [class.selected]="isSelected(tier, i)">
            </hra-talent-square-button>
            <hra-talent-detail-button *ngIf="displayMode === 'tile'" [model]="talent" [hero]="hero" interactive tooltip="true"
              [class.selected]="isSelected(tier, i)">
            </hra-talent-detail-button>
          </td>
        </tr>
      </table>

    </div>
    <div class="right">
      <!-- 

        <label>Level</label>
        <mat-slider min="0" max="30" step="1" [(value)]="hero.level" tickInterval="1"></mat-slider>
        <label>{{hero.level}}</label>
      -->
    </div>
  </div>
  <!-- 
    <pre>{{_selectedTalents|json}}</pre>
    <pre>{{_selectedValue|json}}</pre>
    
  -->
  
</section>


<ngui-horizontal-bar *nguiAttachment="'app.footer'" align="end" fullCenter>
  <hra-hero-hud-unit left [hero]="hero" ></hra-hero-hud-unit>
  <hra-hero-hud-abilities center  [hero]="hero"></hra-hero-hud-abilities>
</ngui-horizontal-bar>
<!-- 

-->


<!-- 


  
  <footer *nguiAttachment="'app.fotter.main.center'">
    <div class="left">
      <hra-hero-hud-unit [hero]="hero"></hra-hero-hud-unit>
    </div>
    
    <div class="right">
      <hra-hero-hud-abilities [hero]="hero"></hra-hero-hud-abilities>
    </div>
    
    
  </footer>
-->
