:host {
  button {
    
    &.navigate {
      display: none;
    }
  }
  input {
    display: inline-block;
    position: absolute;
    pointer-events: none;
    opacity: 0.001;
  }
  &.show-label {
    button {
      &.copyLink {
        mat-icon {
          margin-left: 0.5em;
        }
      }
    }
  }
  &.show-navigate {
    button {
      &.copyLink {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }
      &.copyIngame {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        margin-left: -1px;
      }
      &.navigate {
        display: inline-block;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        margin-left: -1px;
        padding-left:0.6em;
        padding-right:0.6em;
        min-width: 0px;
      }
    }
  }
  .copyLink{
    mat-icon{
      margin-left: 0.5em;
    }
    border-radius: 4px 0px 0px 4px;
  }
  .copyIngame{
    img{
      height: 2em;
    }
    padding: 0px 0.5em;
    min-width: 2em;
    left: -1px;
    border-radius: 0px 4px 4px 0px;
  }

}
