$width: 7.6em;
$height: 4.8em;
// base layout
:host {
  font-size: var(--base-size);
  position: relative;
  display: inline-block;
  width: $width;
  height: $height;
  hra-cheveron-button-border,
  hra-icon-chevron {
    font-size: 1em;
  }

  .hotkey {
    position: absolute;
    font-size: 1.6em;
    line-height: 1.6em;
    top: 1.4em;
    left: 0.7em;
    font-weight: bold;
    text-shadow: 0 0 0.1em #000,0 0 0.1em #000,0 0 0.1em #000,0 0 0.1em #000,0 0 0.1em #000,0 0 0.1em #000,0 0 0.1em #000,0 0 0.1em #000,0 0 0.1em #000,0 0 0.1em #000,0 0 0.1em #000,0 0 0.1em #000;
  }

  &[direction="right"]{
    .hotkey {
      top: 1.5em;
      left: 3.4em;
    }
  }
}
