:host {
  button {
    
    &.navigate {
      display: none;
    }
  }
  input {
    display: inline-block;
    position: absolute;
    pointer-events: none;
    opacity: 0.001;
  }
  &.show-label {
    button {
      &.copy {
        mat-icon {
          margin-left: 0.5em;
        }
      }
    }
  }
  &.show-navigate {
    button {
      &.copy {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }
      &.navigate {
        display: inline-block;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        margin-left: -1px;
      }
    }
  }
}
