:host {
  display: block;
  width: 100%;
  height: auto;
  min-height: 100vh;
  pointer-events: none;
  .fixed {
    position: fixed;
    overflow: hidden;
    z-index: 100;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    .apllication-container {
        max-width: 1200px;
      display: grid;
      grid-template-columns: auto auto 1fr auto auto;
      grid-template-rows: auto auto 1fr auto auto;
      width: 100%;
      height: 100%;
      > .grid-area {
          ::ng-deep{
            >*{
                pointer-events: all;
            }
          }
      }
      > .top.outer {
        grid-area: to;
        background-color: red;
      }
      > .left.outer {
        grid-area: lo;
        background-color: darkblue;
      }
      > .right.outer {
        grid-area: ro;
        background-color: forestgreen;
      }
      > .bottom.outer {
        grid-area: bo;
        background-color: darkseagreen;
      }

      > .top.inner {
        grid-area: ti;
        background-color: azure;
      }
      > .left.inner {
        grid-area: li;
        background-color: lightpink;
      }
      > .right.inner {
        grid-area: ri;
        background-color: mediumorchid;
      }
      > .bottom.inner {
        grid-area: bi;
        background-color: deeppink;
      }
    }
  }
}

:host {
  .fixed {
    .apllication-container {
      grid-template-areas:
        "to to to to to"
        "lo ti ti ti ro"
        "lo li cc ri ro"
        "lo bi bi bi ro"
        "bo bo bo bo bo";
    }
  }
}
