@import "~@angular/material/theming";
@include mat-core();

@function varPalette($paletteName) {
  @return (
    50: var(--theme-palette-#{$paletteName}-color-50),
    100: var(--theme-palette-#{$paletteName}-color-100),
    200: var(--theme-palette-#{$paletteName}-color-200),
    300: var(--theme-palette-#{$paletteName}-color-300),
    400: var(--theme-palette-#{$paletteName}-color-400),
    500: var(--theme-palette-#{$paletteName}-color-500),
    600: var(--theme-palette-#{$paletteName}-color-600),
    700: var(--theme-palette-#{$paletteName}-color-700),
    800: var(--theme-palette-#{$paletteName}-color-800),
    900: var(--theme-palette-#{$paletteName}-color-900),
    A100: var(--theme-palette-#{$paletteName}-color-A100),
    A200: var(--theme-palette-#{$paletteName}-color-A200),
    A400: var(--theme-palette-#{$paletteName}-color-A400),
    A700: var(--theme-palette-#{$paletteName}-color-A700),
    contrast: (
      50: var(--theme-palette-#{$paletteName}-contrast-50),
      100: var(--theme-palette-#{$paletteName}-contrast-100),
      200: var(--theme-palette-#{$paletteName}-contrast-200),
      300: var(--theme-palette-#{$paletteName}-contrast-300),
      400: var(--theme-palette-#{$paletteName}-contrast-400),
      500: var(--theme-palette-#{$paletteName}-contrast-500),
      600: var(--theme-palette-#{$paletteName}-contrast-600),
      700: var(--theme-palette-#{$paletteName}-contrast-700),
      800: var(--theme-palette-#{$paletteName}-contrast-800),
      900: var(--theme-palette-#{$paletteName}-contrast-900),
      A100: var(--theme-palette-#{$paletteName}-contrast-A100),
      A200: var(--theme-palette-#{$paletteName}-contrast-A200),
      A400: var(--theme-palette-#{$paletteName}-contrast-A400),
      A700: var(--theme-palette-#{$paletteName}-contrast-A700)
    )
  );
}

@function colorComponents($color){
    @return red($color), green($color), blue($color);
}

@mixin includePalette($paletteName, $mdPalette, $default:500, $lighter:100, $darker:700) {
  html {
    /* theme palet #{$paletteName} */
    --theme-palette-#{$paletteName}-color-50: #{map-get($mdPalette, 50)};
    --theme-palette-#{$paletteName}-color-100: #{map-get($mdPalette, 100)};
    --theme-palette-#{$paletteName}-color-200: #{map-get($mdPalette, 200)};
    --theme-palette-#{$paletteName}-color-300: #{map-get($mdPalette, 300)};
    --theme-palette-#{$paletteName}-color-400: #{map-get($mdPalette, 400)};
    --theme-palette-#{$paletteName}-color-500: #{map-get($mdPalette, 500)};
    --theme-palette-#{$paletteName}-color-600: #{map-get($mdPalette, 600)};
    --theme-palette-#{$paletteName}-color-700: #{map-get($mdPalette, 700)};
    --theme-palette-#{$paletteName}-color-800: #{map-get($mdPalette, 800)};
    --theme-palette-#{$paletteName}-color-900: #{map-get($mdPalette, 900)};
    --theme-palette-#{$paletteName}-color-A100: #{map-get($mdPalette, A100)};
    --theme-palette-#{$paletteName}-color-A200: #{map-get($mdPalette, A200)};
    --theme-palette-#{$paletteName}-color-A400: #{map-get($mdPalette, A400)};
    --theme-palette-#{$paletteName}-color-A700: #{map-get($mdPalette, A700)};

    --theme-palette-#{$paletteName}-color: #{map-get($mdPalette, $default)};
    --theme-palette-#{$paletteName}-color-lighter: #{map-get($mdPalette, $lighter)};
    --theme-palette-#{$paletteName}-color-darker: #{map-get($mdPalette, $darker)};

    --theme-palette-#{$paletteName}-contrast-50: #{map-get(map-get($mdPalette, contrast), 50)};
    --theme-palette-#{$paletteName}-contrast-100: #{map-get(map-get($mdPalette, contrast), 100)};
    --theme-palette-#{$paletteName}-contrast-200: #{map-get(map-get($mdPalette, contrast), 200)};
    --theme-palette-#{$paletteName}-contrast-300: #{map-get(map-get($mdPalette, contrast), 300)};
    --theme-palette-#{$paletteName}-contrast-400: #{map-get(map-get($mdPalette, contrast), 400)};
    --theme-palette-#{$paletteName}-contrast-500: #{map-get(map-get($mdPalette, contrast), 500)};
    --theme-palette-#{$paletteName}-contrast-600: #{map-get(map-get($mdPalette, contrast), 600)};
    --theme-palette-#{$paletteName}-contrast-700: #{map-get(map-get($mdPalette, contrast), 700)};
    --theme-palette-#{$paletteName}-contrast-800: #{map-get(map-get($mdPalette, contrast), 800)};
    --theme-palette-#{$paletteName}-contrast-900: #{map-get(map-get($mdPalette, contrast), 900)};
    --theme-palette-#{$paletteName}-contrast-A100: #{map-get(map-get($mdPalette, contrast), A100)};
    --theme-palette-#{$paletteName}-contrast-A200: #{map-get(map-get($mdPalette, contrast), A200)};
    --theme-palette-#{$paletteName}-contrast-A400: #{map-get(map-get($mdPalette, contrast), A400)};
    --theme-palette-#{$paletteName}-contrast-A700: #{map-get(map-get($mdPalette, contrast), A700)};

    --theme-palette-#{$paletteName}-contrast: #{map-get(map-get($mdPalette, contrast), $default)};
    --theme-palette-#{$paletteName}-contrast-lighter: #{map-get(map-get($mdPalette, contrast), $lighter)};
    --theme-palette-#{$paletteName}-contrast-darker: #{map-get(map-get($mdPalette, contrast), $darker)};

    --theme-palette-#{$paletteName}-color-50-rgb: #{colorComponents(map-get($mdPalette, 50))};
    --theme-palette-#{$paletteName}-color-100-rgb: #{colorComponents(map-get($mdPalette, 100))};
    --theme-palette-#{$paletteName}-color-200-rgb: #{colorComponents(map-get($mdPalette, 200))};
    --theme-palette-#{$paletteName}-color-300-rgb: #{colorComponents(map-get($mdPalette, 300))};
    --theme-palette-#{$paletteName}-color-400-rgb: #{colorComponents(map-get($mdPalette, 400))};
    --theme-palette-#{$paletteName}-color-500-rgb: #{colorComponents(map-get($mdPalette, 500))};
    --theme-palette-#{$paletteName}-color-600-rgb: #{colorComponents(map-get($mdPalette, 600))};
    --theme-palette-#{$paletteName}-color-700-rgb: #{colorComponents(map-get($mdPalette, 700))};
    --theme-palette-#{$paletteName}-color-800-rgb: #{colorComponents(map-get($mdPalette, 800))};
    --theme-palette-#{$paletteName}-color-900-rgb: #{colorComponents(map-get($mdPalette, 900))};
    --theme-palette-#{$paletteName}-color-A100-rgb: #{colorComponents(map-get($mdPalette, A100))};
    --theme-palette-#{$paletteName}-color-A200-rgb: #{colorComponents(map-get($mdPalette, A200))};
    --theme-palette-#{$paletteName}-color-A400-rgb: #{colorComponents(map-get($mdPalette, A400))};
    --theme-palette-#{$paletteName}-color-A700-rgb: #{colorComponents(map-get($mdPalette, A700))};

    --theme-palette-#{$paletteName}-color-rgb: #{colorComponents(map-get($mdPalette, $default))};
    --theme-palette-#{$paletteName}-color-lighter-rgb: #{colorComponents(map-get($mdPalette, $lighter))};
    --theme-palette-#{$paletteName}-color-darker-rgb: #{colorComponents(map-get($mdPalette, $darker))};

    --theme-palette-#{$paletteName}-contrast-50-rgb: #{colorComponents(map-get(map-get($mdPalette, contrast), 50))};
    --theme-palette-#{$paletteName}-contrast-100-rgb: #{colorComponents(map-get(map-get($mdPalette, contrast), 100))};
    --theme-palette-#{$paletteName}-contrast-200-rgb: #{colorComponents(map-get(map-get($mdPalette, contrast), 200))};
    --theme-palette-#{$paletteName}-contrast-300-rgb: #{colorComponents(map-get(map-get($mdPalette, contrast), 300))};
    --theme-palette-#{$paletteName}-contrast-400-rgb: #{colorComponents(map-get(map-get($mdPalette, contrast), 400))};
    --theme-palette-#{$paletteName}-contrast-500-rgb: #{colorComponents(map-get(map-get($mdPalette, contrast), 500))};
    --theme-palette-#{$paletteName}-contrast-600-rgb: #{colorComponents(map-get(map-get($mdPalette, contrast), 600))};
    --theme-palette-#{$paletteName}-contrast-700-rgb: #{colorComponents(map-get(map-get($mdPalette, contrast), 700))};
    --theme-palette-#{$paletteName}-contrast-800-rgb: #{colorComponents(map-get(map-get($mdPalette, contrast), 800))};
    --theme-palette-#{$paletteName}-contrast-900-rgb: #{colorComponents(map-get(map-get($mdPalette, contrast), 900))};
    --theme-palette-#{$paletteName}-contrast-A100-rgb: #{colorComponents(map-get(map-get($mdPalette, contrast), A100))};
    --theme-palette-#{$paletteName}-contrast-A200-rgb: #{colorComponents(map-get(map-get($mdPalette, contrast), A200))};
    --theme-palette-#{$paletteName}-contrast-A400-rgb: #{colorComponents(map-get(map-get($mdPalette, contrast), A400))};
    --theme-palette-#{$paletteName}-contrast-A700-rgb: #{colorComponents(map-get(map-get($mdPalette, contrast), A700))};

    --theme-palette-#{$paletteName}-contrast-rgb: #{colorComponents(map-get(map-get($mdPalette, contrast), $default))};
    --theme-palette-#{$paletteName}-contrast-lighter-rgb: #{colorComponents(map-get(map-get($mdPalette, contrast), $lighter))};
    --theme-palette-#{$paletteName}-contrast-darker-rgb: #{colorComponents(map-get(map-get($mdPalette, contrast), $darker))};
  }
}

$md-primary: (
  50: #ffe0ff,
  100: #ffb3ff,
  200: #ff80ff,
  300: #ff4dff,
  400: #ff26ff,
  500: #ff00ff,
  600: #ff00ff,
  700: #ff00ff,
  800: #ff00ff,
  900: #ff00ff,
  A100: #ffffff,
  A200: #fff2ff,
  A400: #ffbfff,
  A700: #ffa6ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
@include includePalette(primary, $md-primary);

$md-accent: (
  50: #e0f7ff,
  100: #b3ecff,
  200: #80dfff,
  300: #4dd2ff,
  400: #26c9ff,
  500: #00bfff,
  600: #00b9ff,
  700: #00b1ff,
  800: #00a9ff,
  900: #009bff,
  A100: #ffffff,
  A200: #f2f9ff,
  A400: #bfe3ff,
  A700: #a6d8ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

@include includePalette(accent, $md-accent);

$md-warn: (
  50: #fff0e0,
  100: #ffdab3,
  200: #ffc180,
  300: #ffa84d,
  400: #ff9526,
  500: #ff8200,
  600: #ff7a00,
  700: #ff6f00,
  800: #ff6500,
  900: #ff5200,
  A100: #ffffff,
  A200: #fff6f2,
  A400: #ffd0bf,
  A700: #ffbda6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

@include includePalette(warn, $md-warn);

$hots-primary: mat-palette(varPalette(primary));
$hots-accent: mat-palette(varPalette(accent));
$hots-warn: mat-palette(varPalette(warn));

* {
  box-sizing: border-box;
  position: relative;
}

$hots-theme: mat-dark-theme($hots-primary, $hots-accent, $hots-warn);
@include angular-material-theme($hots-theme);

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: none;
}
html {
  min-height: 100vh;
  max-height: 100vh;
  --base-size: 10px;
  font-size: var(--base-size);
}

body {
  //overflow-x: hidden;
  overflow-y: scroll;
  background-color: rgb(8, 0, 15);
  color: white;
  font-size: 1.4em;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*

html {
    color:#ff6ec7
  --primary-color-50: #009cff;

  --primary-color-50: #e9e2f1;
  --primary-color-100: #c8b6dc;
  --primary-color-200: #a485c4;
  --primary-color-300: #8054ac;
  --primary-color-400: #642f9b;
  --primary-color-500: #490a89;
  --primary-color-600: #420981;
  --primary-color-700: #390776;
  --primary-color-800: #31056c;
  --primary-color-900: #210359;
  --primary-color-A100: #aa8bff;
  --primary-color-A200: #8558ff;
  --primary-color-A400: #6025ff;
  --primary-color-A700: #4e0bff;

  --primary-color: var(--primary-color-500);
  --primary-color-light: var(--primary-color-300);
  --primary-color-dark: var(--primary-color-700);
}
$md-primary: (
  50: var(--primary-color-50),
  100: var(--primary-color-100),
  200: var(--primary-color-200),
  300: var(--primary-color-300),
  400: var(--primary-color-400),
  500: var(--primary-color-500),
  600: var(--primary-color-600),
  700: var(--primary-color-700),
  800: var(--primary-color-800),
  900: var(--primary-color-900),
  A100: var(--primary-color-A100),
  A200: var(--primary-color-A200),
  A400: var(--primary-color-A400),
  A700: var(--primary-color-A700),
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff
  )
);

$md-accent: (
  50: #e0f3ff,
  100: #b3e1ff,
  200: #80ceff,
  300: #4dbaff,
  400: #26abff,
  500: #009cff,
  600: #0094ff,
  700: #008aff,
  800: #0080ff,
  900: #006eff,
  A100: #ffffff,
  A200: #f2f7ff,
  A400: #bfd7ff,
  A700: #a6c7ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);


@include includePalette(accent, $md-accent);


$md-warn: (
  50: #fff5e7,
  100: #ffe6c2,
  200: #ffd599,
  300: #ffc470,
  400: #ffb752,
  500: #ffaa33,
  600: #ffa32e,
  700: #ff9927,
  800: #ff9020,
  900: #ff7f14,
  A100: #ffffff,
  A200: #fffdfb,
  A400: #ffdfc8,
  A700: #ffd0ae,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$hots-primary: mat-palette($md-primary);
$hots-accent: mat-palette($md-accent);
$hots-warn: mat-palette($md-warn);

$hots-theme: mat-dark-theme($hots-primary, $hots-accent, $hots-warn);
@include angular-material-theme($hots-theme);

* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: none;
}
html {
  // overflow: hidden;
  min-height: 100vh;
  max-height: 100vh;
  --base-size: 10px;
  font-size: var(--base-size);
}

body {
  //overflow-x: hidden;
  overflow-y: scroll;
  background-color: rgb(8, 0, 15);
  color: white;
  font-size: 1.4em;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
*/
