:host {
  --color: 149, 160, 255;
  position: relative;
  display: inline-block;
  border-radius: 5px;
  border: 2px solid rgba(var(--color), 0.5);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 3px;
  color: rgb(var(--color));
  font-weight: bold;
  &.passive {
    --color: 82, 174, 159;
  }

  &.active {
    --color: 200, 85, 142;
  }

  &.heroic {
    --color: 189, 161, 90;
  }

  &.talent {
    padding-left: 23px;
    &::before {
      position: absolute;
      display: block;
      background-image: url(~/assets/ui/icons/storm_ui_heroselect_customizepanel_abilityframe_upgradearrow.png);
      content: " ";
      width: 30px;
      height: 26px;
      left: -8px;
      top: -4px;
      background-size: cover;
    }

    &.heroic {
      &::before {
        background-image: url(~/assets/ui/icons/storm_ui_heroselect_customizepanel_abilityframe_heroicupgradearrow.png);
      }
    }

    &.active,
      &.passive{
        padding-left: 5px;
        &::before {
          visibility: hidden;
        }
      }
    /*&:not(.heroic-upgrade){
      &.active,
      &.passive,
      &.heroic {
        padding-left: 5px;
        &::before {
          visibility: hidden;
        }
      }
    }*/
  }

  &.quest {
    padding-left: 23px !important;
    &::before {
      position: absolute;
      display: block;
      background-image: url(~/assets/ui/icons/storm_ui_hud_log_icon_quest_sm.png)  !important;
      content: " ";
      width: 20px;
      height: 20px;
      left: 1px;
      top: 2px;
      visibility: visible  !important;
      background-size: cover;
    }
  }
}
