$height: 5.4em;

:host {
    &::before {
        position: absolute;
        top: -0.7em;
        left: -1.21em;
        content: " ";

        background-repeat: no-repeat;
        background-size: 100%;
        width: 1.7em;
        height: 6.8em;
        z-index: 3;
    }

    hra-icon {
        font-size: 1em;
        height: 5.3em;
        z-index: 2;
    }
    justify-content: left;
    .cell {
        justify-content: left;
        position: relative;
        .content {
            left: -2em;
            flex-direction: column;
            align-items: flex-start;
        }
        .flags {
            position: absolute;
            left: 10em;
            width: 3.1em;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            img{
                margin-bottom: -0.4em;
                margin-top: -0.4em;
                width:3.1em;
                &.blizz{
                    margin-bottom: -0.3em;
                    margin-top: -0.3em;
                    width:2.2em;
                }
            }
            z-index:5;
        }
        .boost{
            position: absolute;
            z-index:5;
            left:-0.1em;
            bottom: -0.1em;
        }
    }
    &:host-context(.team1) {
        &::before {
            background-image: url(~/assets/ui/borders/player_row_blue.png);
        }
    }
    &:host-context(.team2) {
        &::before {
            background-image: url(~/assets/ui/borders/player_row_red.png);
        }
    }
}
